{% extends 'base.html.twig' %}

{% block title %}Voiture
{% endblock %}

{% block body %}

<div id="carousel" style="width: 40rem; height: 30rem; border:solid 40px #FFF; box-shadow: 0 0 14px rgba(0,0,0,0.3); position:relative; ">
    <div id="container" style="width: 40rem; height: 30rem; ";>
    </div>
    <img src="/assets/images/flecheD.png" class="bouton" id="d" style="position:absolute; width: 60px; cursor: pointer; top:10rem; right:0; opacity: 0.4;"/>
    <img src="/assets/images/flecheG.png" class="bouton" id="g" style="position:absolute; width: 60px; cursor: pointer; top:10rem; left:0; opacity: 0.4;"/>
    {% if voiture.GalerieImage %}
    {% for e in galerie %}
    <img class="e" style="width:40rem; height: 30rem; margin: 0; display:inline-block; background-size:cover;" src="{{ asset('assets/uploads/photos/' ~ e ) }}" alt="slide">
    <script> 
    document.body.onload=function(){
        nbr=5;
        p=0;
        container=document.getElementById("container");
        g=document.getElementById("g");
        d=document.getElementById("d");
        container.style.width=(40*nbr)+"rem";
            
        div=document.createElement("div");
        div.className="photo";
        div.style.background= document.getElementById("e");
        container.appendChild(div);
    }
    </script>
<script src="./bundle.js"></script>
    {% endfor %}
    {% endif %}
        
</div>

{% endblock %}

