{% extends '@EasyAdmin/page/content.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block main %}
    <h2>Bienvenue sur l'administration du garage Vincent Parrot</h2>
    <p>Pour créer une nouvelle voiture:</p>
    <p>Créer une Marque</p>
    <p>Créer un modèle</p>
    <p>Créer une voiture</p>

{% endblock %}